


<!DOCTYPE html>
<html>
<head>
    <title>facebook.com Fuzzer</title>
</head>
<body>
    <h1>Facebook.com Fuzzer</h1>
    <form method="POST" action="/">
        <label for="target_url">Target URL:</label>
        <input type="text" id="target_url" name="target_url" required><br><br>

        <label for="num_requests">Number of Requests:</label>
        <input type="number" id="num_requests" name="num_requests" required><br><br>

        <input type="submit" value="Fuzz!">
    </form>
</body>
</html>


